
body{
    background-color: #e4e4e3;
}

.headerColor{
    background-color: #0526ad;
    color: whitesmoke;
}



 span{
 
    font-size: 60px;
    font-weight: 700;
   
}  

 .numberBorder{
     width: 150px;
     height: 120px;
     border:5px solid black;
  
}


.clickEffect:active {
    transform: translateY(2px);
  }

